// ============================================
// SCSS Functions
// ============================================

@use 'sass:math';

@function rem($px) {
    @return math.div($px, 16) * 1rem;
}

@function spacing($multiplier) {
    @return 0.25rem * $multiplier;
}
